@import "./variables";
@import "./layout";
@import "./input-section.scss";
@import "./output-section.scss";

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light_greyish_cyan_darker);
}

fieldset {
  border: none;
  padding: 0;
}

.container {
  background-color: var(--white);
  border-radius: 25px;
  padding: 32px;
}
