.input {
  &__form {
    //text input section
    &__text-input {
      background-color: var(--background_color);
      color: var(--color);
      border: none;
      font-size: 24px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 19px;
      padding-right: 19px;
    }

    &__text-input-label,
    &__tip-amount-label {
      color: var(--color);
      font-weight: 700;
      font-size: 16px;
    }

    //radio input section
    &__radio-input {
      display: none;
    }

    &__radio-input-label {
      color: var(--label_font_color);
      background-color: var(--background_color);
    }

    &__radio-input-label:hover {
      cursor: pointer;
    }
  }
}
