[name="tip_amount"] {
  display: flex;
  flex-direction: column;
}

[name="bill_amount_fieldset"] {
  display: flex;
  flex-direction: column;
}

[name="tip_amount_fieldset"] {
  display: flex;
  flex-wrap: wrap;
}

.input {
  &__form {
    &__radio-input-label {
      flex-basis: 25%;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
    }
  }
}
