/*************************************
COLORS
**************************************/
:root {
  //primary
  --strong_cyan: hsl(172, 67%, 45%);

  //neutral
  --very_dark_cyan: hsl(183, 100%, 15%);
  --dark_grayish_cyan_darker: hsl(186, 14%, 43%);
  --dark_grayish_cyan_lighter: hsl(184, 14%, 56%);
  --light_grayish_cyan_darker: hsl(185, 41%, 84%);
  --light_grayish_cyan_lighter: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --light_grey: hsl(185, 38%, 97%);

  //accent
  --orange: hsl(13, 70%, 61%);
}

/*************************************
Color Intentions
**************************************/
.container {
  --background_color: var(--white);
}

.input {
  //labels
  &__form {
    &__text-input {
      --background_color: var(--light_grey);
      --color: var(--very_dark_cyan);
    }

    &__text-input-label,
    &__tip-amount-label {
      --color: var(--dark_grayish_cyan_darker);
    }

    &__radio-input {
    }

    &__radio-input-label {
      --label_font_color: var(--white);
      --background_color: var(--very_dark_cyan);
    }

    //when radio is checked change label color
    &__radio-input:checked + &__radio-input-label {
      --background_color: var(--strong_cyan);
    }
  }

  //text inputs
  --text_input_outline_color: none;
  --text_input_font_color: var(--very_dark_cyan);

  //radio inputs
  --radio_label_background_color: var(--very_dark_cyan);
  --radio_label_font_color: var(--white);
}

.output {
  --background_color: var(--very_dark_cyan);
  &__amount {
    --font_color: var(--strong_cyan);
  }

  &__heading {
    --font_color: var(--white);
  }

  &__heading__subheading {
    --font_color: var(--dark_grayish_cyan_lighter);
  }

  &__reset-form {
    --font_color: var(--very_dark_cyan);
  }
}

/*************************************
Fonts
**************************************/

.input__form {
  //labels
  &__text-input-label {
    --font_size: 16px;
    --font_weight: 700;
  }

  &__text-input {
    --font_size: 24px;
    --font_weight: 700;
  }

  &__radio-input-label {
  }
}

/*************************************
Fonts
**************************************/
